{% extends 'base.html' %} 
{% block title %}Apontamento{% endblock %} 

{% block breadcrumbs %} 
{{ block.super }}
<li class="breadcrumb-item">
    <a href="{% url 'core:lista-apontamento' %}">Apontamento</a></li>
{% endblock %}


{% block conteudo %}

<div class="container-fluid">

    <div class="row row-cols-8">
        <div class="col-sm border border-dark bg-info text-white p-2 h-25">Período</div>
        <div class="col-sm border border-dark bg-info text-white p-2 h-25">Projeto</div>
        <div class="col-sm border border-dark bg-info text-white p-2 h-25">Recurso</div>
        <div class="col-sm border border-dark bg-info text-white p-2 h-25">Data</div>
        <div class="col-sm border border-dark bg-info text-white p-2 h-25">Hora Inicial</div>
        <div class="col-sm border border-dark bg-info text-white p-2 h-25">Hora Final</div>
        <div class="col-sm border border-dark bg-info text-white p-2 h-25">Atividade</div>
        <div class="col-sm border border-dark bg-info text-white p-2 h-25">Ações</div>
    </div>

    {% for apontamento in object_list %}
        <div class="row row-cols-8">
            <div class="col-sm border">{{ apontamento.periodo }}</div>
            <div class="col-sm border">{{ apontamento.projeto }}</div>
            <div class="col-sm border">{{ apontamento.recurso }}</div>
            <div class="col-sm border">{{ apontamento.data_apontamento | date:'d/m/Y' }}</div>
            <div class="col-sm border">{{ apontamento.hora_inicial }}</div>
            <div class="col-sm border">{{ apontamento.hora_final }}</div>
            <div class="col-sm border">{{ apontamento.descricao }}</div>

            
            
            <div class="col-sm border" align="center">
                {% if apontamento.id %}
                    <div class="row">
                        <div class="col-sm p-2">
                            <a href="{% url 'core:view-apontamento' apontamento.id %}"><i class="fas fa-eye"></i></a>
                        </div>                        
                        <div class="col-sm p-2">
                            <a href="{% url 'core:edit-apontamento' apontamento.id %}"><i class="fas fa-edit"></i></a>
                        </div>
                        <div class="col-sm p-2">
                            <a href="{% url 'core:del-apontamento' apontamento.id %}"><i class="fas fa-trash-alt"></i></a>
                        </div>
                        <div class="col-sm p-2">
                            <a href="{% url 'report:imprime-apontamento' apontamento.id %}"  target="_blank" rel="noopener"><i class="fas fa-print"></i></a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}

    <div class="row">
        <a class="btn btn-outline-primary btn-sm" href="{% url 'core:add-apontamento' %}" role="button">Novo registro</a>
        <button type="button" class="btn btn-outline-secondary btn-sm" onclick="window.history.back();">Voltar</button></p>
    </div>
</div>

{% endblock %}