{% extends 'base.html' %} 
{% block title %}Mapa de Carga{% endblock %} 

{% block breadcrumbs %} 
{{ block.super }}
<li class="breadcrumb-item">
    <a href="{% url 'core:del-campo' campo.mapa.id campo.id %}">Novo Mapa</a></li>
{% endblock %}


{% block conteudo %}

<form method="POST">
    {% csrf_token %}
<table>
    <tr><td><label>Mapa:</label></td><td>{{ campo.mapa.nome }}</td></tr>
    <tr><td><label>Tabela Origem:</label></td><td>{{ campo.tabela_o }}</td></tr>
    <tr><td><label>Campo Origem:</label></td><td>{{ campo.campo_o }}</td></tr>
    <tr><td><label>Tipo Origem:</label></td><td>{{ campo.get_campo_o_tipo_display }}</td></tr>

    <tr><td><label>Tabela Destino:</label></td><td>{{ campo.tabela_d }}</td></tr>
    <tr><td><label>Campo Destino:</label></td><td>{{ campo.campo_d }}</td></tr>
    <tr><td><label>Tipo Destiono:</label></td><td>{{ campo.get_campo_d_tipo_display }}</td></tr>
</table>
    <p><button class="btn btn-danger" type="submit">Confirma Exclusão</button>
        <button class="btn btn-primary" type="button" onclick="window.history.back();">Voltar</button>
</form>

{% endblock conteudo %}