{% extends 'base.html' %}
{% load static %}
{% block title %}Index{% endblock %}

{% block conteudo %}
        <!-- mensagens de erro -->
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}   
    {% if form.errors %}
    <ul class="messages"></ul>
        <li>Nome de usuário ou senha inválido. Tente novamente.</li>
    </ul>
    {% endif %}
    
    {% if next %}
        {% if user.is_authenticated %}
        <p>Sua conta não tem acesso para esta página. Para continuar,
        faça login com uma conta que tenha acesso.</p>
        {% else %}
        <p>Faça o login para ver esta página.</p>
        {% endif %}
    {% endif %}
<img src="{% static 'core/img/macbook-air-on-desk.jpg' %}" alt="Ferramenta Técnica" width="100%" height="400px">

{% endblock %}