{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}

{% block extrahead %} 
{{ block.super }}
<style>
    #id_password, #id_username {
        flex:auto;
    }

</style>
{% endblock %}

{% block conteudo %}

{% block subtitulo %}<h3 align="center"></h3>{% endblock %}
<p></p>
        <!-- mensagens de erro -->
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}   
{% if form.errors %}
<ul class="messages"></ul>
    <li>Nome de usuário ou senha inválido. Tente novamente.</li>
</ul>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Sua conta não tem acesso para esta página. Para continuar,
    faça login com uma conta que tenha acesso.</p>
    {% else %}
    <p>Faça o login para ver esta página.</p>
    {% endif %}
{% endif %}
<form method="post" action="{% url 'core:login' %}">
{% csrf_token %}

<div class="container">

    <div class="card bg-info text-white">

        <div class="card-header">Chave de Acesso</div>

            <div class="card-body">

                <div class="row d-flex">

                    <div class="col-sm-12 d-flex">

                        {{ form.username.label_tag }}

                    </div>

                    <div class="col-sm-12 d-flex">
                        {{ form.username }}
                    </div>

                </div>            

                <div class="row d-flex">

                    <div class="col-sm-12 d-flex">

                        {{ form.password.label_tag }}

                    </div>

                    <div class="col-sm-12 d-flex">

                        {{ form.password }} 

                    </div>

                </div>            
            </div>

        <div class="card-footer">
            <button class="btn btn-primary" type="submit">Acessar</button>
        </div>

    </div>

</div>
</form>

{% endblock %}