{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}

{% block conteudo %}

{% block subtitulo %}<h3 align="center">Acesso</h3>{% endblock %}
<p></p>
        <!-- mensagens de erro -->
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}   
{% if form.errors %}
<ul class="messages"></ul>
    <li>Nome de usuário ou senha inválido. Tente novamente.</li>
</ul>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Sua conta não tem acesso para esta página. Para continuar,
    faça login com uma conta que tenha acesso.</p>
    {% else %}
    <p>Faça o login para ver esta página.</p>
    {% endif %}
{% endif %}
<div class="container">
<form method="post" action="{% url 'core:login' %}">
{% csrf_token %}

<div class="row" style="background-color: aquamarine; max-width: 50%;">

    <div class="col-sm-9">

        <div class="row">

            <div class="col-12 col-sm-12" style="display: inline-grid;">
                {{ form.username.label_tag }}{{ form.username }}
              </div>
              <div class="col-12 col-sm-12" style="display: inline-grid;">
                {{ form.password.label_tag }}{{ form.password }} 
              </div>


        </div>

    </div>

</div>


<div class="d-flex justify-content-center flex-direction: column  bd-highlight mb-3" style="background-color: blueviolet;">
    <div class="p-2 bd-highlight">
        {{ form.username.label_tag }}<p></p>{{ form.username }}
    </div>
    
    <div class="p-2 bd-highlight">
        {{ form.password.label_tag }}<p></p>{{ form.password }}        
    </div>

    <div class="p-2 bd-highlight">
        <p></p><button class="btn btn-primary" type="submit">Acessar</button>
    </div>

</div>

</form>
</div>

{% endblock %}