{% extends 'base.html' %} 
{% block title %}Mapa de Carga{% endblock %} 

{% block breadcrumbs %} 
{{ block.super }}
<li class="breadcrumb-item">
    <a href="{% url 'core:lista-mapa' %}">Lista de Mapas</a></li>
{% endblock %}


{% block conteudo %}

<div class="container-fluid">

    <div class="row row-cols-8">
        <div class="col-sm border border-dark bg-info text-white p-2 h-25">Nome</div>
        <div class="col-sm border border-dark bg-info text-white p-2 h-25">Descrição</div>
        <div class="col-sm border border-dark bg-info text-white p-2 h-25">Sistema Origem</div>
        <div class="col-sm border border-dark bg-info text-white p-2 h-25">Sistema Destino</div>
        <div class="col-sm border border-dark bg-info text-white p-2 h-25">Ações</div>
    </div>

    {% for mapa in mapas %}
        <div class="row row-cols-5">

            <div class="col-sm border">{{ mapa.nome }}</div>
            <div class="col-sm border">{{ mapa.descricao }}</div>
            <div class="col-sm border">{{ mapa.sistema_origem }}</div>
            <div class="col-sm border">{{ mapa.sistema_destino }}</div>

            <div class="col-sm border" align="center">
                {% if mapa.id %}
                    <div class="row">
                        <div class="col-sm p-2">
                            <a href="{% url 'core:view-mapa' mapa.id %}"><i class="fas fa-eye"></i></a>
                        </div>
                        <div class="col-sm p-2">
                            <a href="{% url 'core:edit-mapa' mapa.id %}"><i class="fas fa-edit"></i></a>
                        </div>
                        <div class="col-sm p-2">
                            <a href="{% url 'core:del-mapa' mapa.id %}"><i class="fas fa-trash-alt"></i></a>
                        </div>
                        <div class="col-sm p-2">
                            <a href="{% url 'report:imprime-mapa' mapa.id %}"  target="_blank" rel="noopener"><i class="fas fa-print"></i></a>
                        </div>                        
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}

    <div class="row">
        <a class="btn btn-outline-primary btn-sm" href="{% url 'core:add-mapa' %}" role="button">Novo registro</a>
    </div>
</div>


{% endblock %}