<!DOCTYPE html>
<html lang="pt-br">
{% load static %}
{% load fontawesome_5 %} 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extrahead %}
      {% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
      {% fontawesome_5_static %}    
      {% bootstrap_css %}         {# Embed Bootstrap CSS #}
      {% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}
      {{ form.media }}            {# Adds date-picker required JS and CSS #}
     
    {% endblock extrahead %}
    <title>TecTools - {% block title %}{% endblock %}</title>
</head>

<body>
  <h3 align="center">Ferramenta Técnica</h3>
    <div class="container-fluid">

        <!-- Navigation -->
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a class="navbar-brand" href="{% url 'core:home' %}"><i class="fas fa-om"></i></a>

            {% if user.is_authenticated %}
            <div class="dropdown">
                <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown">
                  Mapa de Carga
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="{% url 'core:add-mapa' %}">Novo</a>
                  <a class="dropdown-item" href="{% url 'core:lista-mapa' %}">Lista</a>
                </div>
              </div> 
              {% endif %}


            <ul class="navbar-nav">

              {% if user.is_superuser or not user.is_authenticated %}

              <li class="nav-item">
                <a class="nav-link" href="/admin">Administração</a>
              </li>
              {% endif %}

              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'core:trocasenha' %}">Alterar Senha</a>
              </li>        
              <li class="nav-item">
                <a class="nav-link" href="{% url 'core:lista-apontamento' %}">Apontamento</a>
              </li>                      
              <li class="nav-item">
                <a class="nav-link" href="{% url 'core:logout' %}">Sair</a>
              </li>
              {% endif %}
            </ul>
          
          </nav>

          {% if user.is_authenticated %}

            <div class="breadcrumb-bar">

              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                      {% block breadcrumbs %}
                      <li class="breadcrumb-item"><a href="{% url 'core:home' %}">Início</a></li>
                      {% endblock %}
                  </ol>
              </nav>
      
          </div>
        {% endif %}
        <!-- Conteudo -->
        {% block conteudo %} 

          {% block subtitulo %}{% endblock %}
        
        
        {% endblock %}

        <footer>
            {% block rodape %} {% endblock %}
        </footer>
    </div>

    {% block scriptfooter %}
    {% endblock %}
</body>

</html>